{% extends "base.html" %} {% block title %} Sets {% endblock %} {% block
content%}
<div class="container-fluid vh-100">
	<h2 class="text-center text-white py-4 fs-1">Sets 📜</h2>

	<div id="all-sets-container" class="px-4 overflow-auto" style="height: 87%">
		<div class="container text-center pt-4">
			<input
				type="search"
				id="searchbar"
				class="form-control w-75 mx-auto"
				placeholder="Search for sets..."
				aria-label="Search"
			/>
		</div>

		<div class="d-flex flex-wrap justify-content-center overflow-auto">
			{% for set_id in master_set %}
			<div
				id="{{master_set[set_id]['set_name']}}"
				class="
					flex-grow-1
					card
					text-center
					w-25
					h-25
					mx-2
					my-5
					set-or-card-badge set-link
					text-white
					bg-dark
					fs-5
				"
			>
				<a
					class="link-light text-decoration-none"
					href="{{  url_for('set_views.specific_set', id=set_id)  }}"
				>
					<div class="card-header">
						{{ master_set[set_id]['set_name'] }}
					</div>
					<div class="container my-3" style="height: 140px">
						<img
							src="{{ master_set[set_id]['set_logo'] }}"
							alt="Fusion Strike"
							class="card-img-top"
							style="object-fit: contain; height: 100%"
						/>
					</div>

					<div class="card-footer">
						<div class="progress">
							<div
								class="progress-bar bg-danger"
								role="progressbar"
								style="width: 25%"
								aria-valuenow="0"
								aria-valuemin="0"
								aria-valuemax="100"
							>
								0 / {{ master_set[set_id]["set_count"] }}
							</div>
						</div>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
